<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>YoT\YoT</fullnamespace>
    <descriptive locale="en_US">
        <title>YoApp for Thelia</title>
        <description>This module can send a Yo when a new order is created</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Application yo pour Thleia</title>
        <description>Envoi un Yo lorsqu'une nouvelle commande est crée</description>
    </descriptive>
    <version>0.1</version>
    <author>
        <name>Manuel Raynaud</name>
        <email>manu@thelia.net</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>alpha</stability>
</module>
